# Procfile

web: exec bundle exec rails server -b 0.0.0.0 -p 3000
workers: QUEUES=mailers,tasks exec rake jobs:work
tracking-worker: QUEUE=tracking exec rake jobs:work
periodic: exec supercronic jobs.crontab
